masking:
  rules:
    # XML-based masking rules
    - service: "payment-service"
      type: "xml"
      attributes:
        - xpath: "//AccountNumber"
        - xpath: "//BankAccount/Number"
        - xpath: "//CreditCard/CardNumber"
        - xpath: "//Transaction/AccountId"

    - service: "banking-service"
      type: "xml"
      attributes:
        - xpath: "//Customer/Account"
        - xpath: "//Payment/SourceAccount"
        - xpath: "//Payment/DestinationAccount"

    # JSON-based masking rules
    - service: "account-service"
      type: "json"
      attributes:
        - jsonpath: "$.account.accountNumber"
        - jsonpath: "$.customer.bankAccount"
        - jsonpath: "$.payment.sourceAccount"
        - jsonpath: "$.payment.destinationAccount"

    - service: "user-service"
      type: "json"
      attributes:
        - jsonpath: "$.user.creditCard"
        - jsonpath: "$.user.bankAccountNumber"
        - jsonpath: "$.transaction.accountId"

    # Fixed-length string masking rules - MTSFTR format (starts with *FTR)
    - service: "mts-ftr-mainframe"
      type: "mtsftr"
      attributes:
        - start: 10
          end: 26
        - start: 50
          end: 66
        - start: 100
          end: 116

    # Fixed-length string masking rules - MTSADM format (starts with *ADM)
    - service: "mts-adm-mainframe"
      type: "mtsadm"
      attributes:
        - start: 15
          end: 31
        - start: 60
          end: 76

    # Fixed-length string masking rules - MFFIXED format (starts with ACAI)
    - service: "mainframe-acai"
      type: "mffixed"
      attributes:
        - start: 20
          end: 36
        - start: 80
          end: 96

    # NOTE: Generic FIXED type removed - will use default processor (auto-detect 10-14 digit numbers)
